<div class="container">
  <div class="row">
    <div class="col flex-wrap d-lg-flex justify-content-center gap-lg-3 pt-3">

      <figure class="card col col-lg-3 m-2">
        <img src="../../../assets/nature1.jpg" class="card-img" alt="beach4">
      </figure>

      <figure class="card col col-lg-3 m-2">
        <img src="../../../assets/beach3.jpg" class="card-img" alt="beach3">
      </figure>

      <figure class="card col col-lg-3 m-2">
        <img src="../../../assets/person1.jpg" class="card-img" alt="beach4">
      </figure>

      <figure class="card col col-lg-3 m-2">
        <img src="../../../assets/person2.jpg" class="card-img" alt="beach4">
      </figure>

      <figure class="card col col-lg-3 m-2">
        <img src="../../../assets/nature4.jpg" class="card-img" alt="beach4">
      </figure>

      <figure class="card col col-lg-3 m-2">
        <img src="../../../assets/beach4.jpg" class="card-img" alt="beach4">
      </figure>

      <figure class="card col col-lg-3 m-2">
        <img src="../../../assets/beach2.jpg" class="card-img" alt="beach2">
      </figure>

      <figure class="card col col-lg-3 m-2">
        <img src="../../../assets/person3.jpg" class="card-img" alt="beach4">
      </figure>

      <figure class="card col col-lg-3 m-2">
        <img src="../../../assets/nature2.jpg" class="card-img" alt="beach4">
      </figure>

      <figure class="card col col-lg-3 m-2">
        <img src="../../../assets/nature3.jpg" class="card-img" alt="beach4">
      </figure>

      <figure class="card col col-lg-3 m-2">
        <img src="../../../assets/nature3.jpg" class="card-img" alt="beach4">
      </figure>

      <figure class="card col col-lg-3 m-2">
        <img src="../../../assets/nature3.jpg" class="card-img" alt="beach4">
      </figure>

    </div>
  </div>
</div>
