<div  class="container mt-4 ">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email"  required>
          <div *ngIf="emailIsWrong">email is incorrect</div>
        </div>
        <input (click)="onSubmit()"  type="button" class="btn btn-primary" value="Login" />
      </form>
    </div>
</div>
</div>
