<app-home></app-home>
<main *ngIf="users">
  <button class="add"  (click)="addPopUp()">Add User</button>
  <!--=============== should be a modal overlay ======================= -->
  <div *ngIf="adding" class="container mt-4 ">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form>
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" required>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
            </div>
            <div class="form-group">
              <label for="phone">Phone:</label>
              <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="phone" required>
            </div>
            <div class="form-group">
              <label for="street">Address:</label>
              <input type="text" class="form-control" placeholder="street" name="street" id="street" [(ngModel)]="street" required>
              <input type="text" class="form-control" placeholder="city" name="city" id="city" [(ngModel)]="city" required>
            </div>
            <input  type="button" class="btn btn-primary" value="Save" (click)="addTheUser(name ,email ,phone, street ,city )"/>
          </form>
        </div>
    </div>
  </div>
<!-- =========================================================== -->
  <table>
    <thead>
      <th>name</th>
      <th>email</th>
      <th>Phone</th>
      <th>street</th>
      <th>city</th>
      <th>details</th>
      <th>update</th>
      <th>delete</th>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td>{{u.name}}</td>
        <td>{{u.email}}</td>
        <td>{{u.phone}}</td>
        <td>{{u.street}}</td>
        <td>{{u.city}}</td>
        <td><button routerLink="{{u.id}}">Details</button></td>
        <td><button routerLink="update/{{u.id}}">update</button></td>
        <td><button (click)="deleteUser(u.id)" >delete</button></td>
      </tr>
    </tbody>
  </table>

</main>

