<div class="d-lg-flex justify-content-center justify-content-lg-evenly align-items-center">
  <div class="col col-lg-5 col-xl-6">
    <a [routerLinkActiveOptions]='{exact:true}' class="btn btn-outline-light" routerLinkActive="active" routerLink="/users">Home</a>
    <button (click)="logout()">log out</button>
  </div>
  <div class="d-flex justify-content-between col col-lg-6 col-xl-5 pt-3 pb-3">
    <a routerLink="#" class="link-light text-decoration-none">Packages</a>
    <a routerLink="#" class="link-light text-decoration-none">Offer</a>
    <a routerLink="#" class="link-light text-decoration-none">Contact Us</a>
    <a routerLink="#" class="link-light text-decoration-none">Currency($)</a>
    <a routerLink="/login" (click)="logout()" class="link-light text-decoration-none">Sign In</a>
    <a routerLink="" (click)="newLog()" class="link-light text-decoration-none">Sign Up</a>
  </div>
</div>
